body {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.container1 {
  position: relative;
  width: 100%;
  height: 2000px;
  background: url(/_blankImg/1.png);
}
.navigat {
  width: 100%;
  height: 50px;
  display: block;
  position: relative;
  background: url(/_blankImg/导航栏.png);
  overflow: hidden;
}
.main {
  width: 1178px;
  height: 1930px;
  display: block;
  margin: auto;
}
.title {
  width: 100%;
  height: 60px;
  display: block;
}
.title h1 {
  font-weight: bold;
  font-size: 36px;
  margin-top: 20px;
}
.content {
  width: 100%;
  height: 108px;
  display: block;
}
.content p {
  text-indent: 2em;
  font-size: 25px;
}
.part1_photo {
  width: 100%;
  height: 535px;
  display: flex;
  margin: 30px auto;
}
.photo1 {
  width: 352px;
  height: 535px;
  background: url(/_blankImg/电商1.png);
  display: block;
}
.photo2 {
  width: 352px;
  height: 535px;
  background: url(/_blankImg/电商2.png);
  display: block;
  margin-left: 61px;
}
.photo3 {
  width: 352px;
  height: 535px;
  background: url(/_blankImg/电商3.png);
  display: block;
  margin-left: 61px;
}
.part2_photo {
  width: 100%;
  height: 291px;
  display: flex;
  margin: 30px auto;
}
.photo4 {
  width: 498px;
  height: 291px;
  background: url(/_blankImg/电商4.png);
  display: block;
}
.photo5 {
  width: 498px;
  height: 291px;
  background: url(/_blankImg/电商5.png);
  display: block;
  margin-left: 182px;
}
.part3_photo {
  width: 100%;
  height: 361.7px;
  display: block;
  margin: 30px auto;
}
.photo6 {
  width: 664px;
  height: 361.7px;
  display: block;
  margin: auto;
  background: url(/_blankImg/电商6.png);
}
