body {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  width: 100%;
  height: 2750px;
  background: url(/public/_blankImg/1.png);
}
.navigat {
  width: 100%;
  height: 50px;
  display: block;
  position: relative;
  background: url(/public/_blankImg/导航栏.png);
  overflow: hidden;
}
.main {
  width: 1178px;
  height: 2650px;
  margin: auto;
  display: block;
}
.title {
  width: 100%;
  height: 60px;
  display: block;
}
.title h1 {
  font-weight: bold;
  font-size: 36px;
}
.small_title {
  width: 100%;
  height: 50px;
  display: block;
}
.small_title h4 {
  font-weight: bold;
  font-size: 28px;
}
.content {
  width: 100%;
  height: 648px;
  font-size: 25px;
}
.content p {
  margin: 63px auto;
  text-indent: 2em;
}
.photo1 {
  width: 765.97px;
  height: 497.06px;
  margin: auto;
  margin-top: 10px;
  background: url(/public/_blankImg/旅游1.png);
}
.photo2 {
  width: 765.97px;
  height: 497.06px;
  margin: auto;
  margin-top: 55.6px;
  background: url(/public/_blankImg/旅游2.png);
}
.annotation {
  font-size: 23px;
  text-align: center;
}
.annotation p {
  margin-top: 10px;
}
.content2 {
  width: 100%;
  height: 504px;
  font-size: 25px;
}
.content2 p {
  margin: 58.6px auto;
  text-indent: 2em;
}
